In [1]:
# Dependencies
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from sqlalchemy import Index
from sqlalchemy import MetaData
from sqlalchemy import Table
import csv
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

In [2]:
clean_listings = "clean_listing_data.csv"
clean_listings_df = pd.read_csv(clean_listings, encoding="utf-8", low_memory=False )
clean_listings_df["name"] = clean_listings_df["name"].astype(str)
clean_listings_df["neighbourhood"] = clean_listings_df["neighbourhood"].astype(str)
clean_listings_df.head()

,airbnb_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,13824783,Full floor of a city cottage (up to 4 guests),55020055,Russ,Lincoln Square,41.976546,-87.684934,Private room,56,2,25,2.57,1,32
1,16740225,Guest Room of Two Bedroom Condo,36722941,Dan,Lincoln Square,41.976522,-87.688755,Private room,36,1,0,0.00,3,0
2,18125245,"Cozy, spacious 2 flat in Lincoln Square!",51669215,Tyler,Lincoln Square,41.972145,-87.699125,Private room,80,1,4,4.00,1,158
3,8362570,Lincoln Square Ravenswood,32837114,Howard,Lincoln Square,41.971007,-87.688129,Private room,80,2,12,0.87,1,52
4,789867,Cozy Private Room in a Classic Chicago Appartm...,2782694,Cameron,Lincoln Square,41.964132,-87.675951,Private room,20,3,96,1.96,1,115

In [3]:
clean_listings_df.dtypes

airbnb_id                           int64
name                               object
host_id                             int64
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [4]:
clean_crime = "clean_crime_data.csv"
clean_crime_df = pd.read_csv(clean_crime, encoding="utf-8", low_memory=False)

clean_crime_df.head()

    neighbourhood  CommunityArea  number_of_crimes  crime_rate
0     Rogers Park              1             14867    1.503473
1      West Ridge              2             12483    1.262383
2          Uptown              3             13954    1.411143
3  Lincoln Square              4              7187    0.726808
4    North Center              5              5548    0.561059

In [5]:
clean_crime_df.dtypes

neighbourhood        object
CommunityArea         int64
number_of_crimes      int64
crime_rate          float64
dtype: object

In [6]:
Base = declarative_base()
class Listings(Base):
    __tablename__ = 'listings_table'
    id = Column(Integer, primary_key=True, nullable=False)
    airbnb_id = Column(Integer)  
    name = Column(String(255))
    host_id = Column(Integer)                         
    host_name = Column(String(255))                        
    neighbourhood = Column(String(255))                  
    latitude = Column(Float)         
    longitude = Column(Float)                         
    room_type = Column(String(255))                        
    price = Column(Integer)                             
    minimum_nights  = Column(Integer)                    
    number_of_reviews  = Column(Integer)                   
    reviews_per_month = Column(Float)               
    calculated_host_listings_count = Column(Integer)     
    availability_365 = Column(Integer)                 
   

engine = create_engine("sqlite:///chicagobnb.db")
Base.metadata.create_all(engine)

#Create the session
session = Session(bind=engine)

In [7]:
for i, row in clean_listings_df.iterrows():
    
    record = Listings(**{
        'airbnb_id' : row.airbnb_id,
        'name' : row.name,
        'host_id' : row.host_id,                       
        'host_name': row.host_name,                       
        'neighbourhood' : row.neighbourhood,                
        'latitude' : row.latitude,                       
        'longitude' : row.longitude,                         
        'room_type' : row.room_type,                       
        'price' : row.price,                              
        'minimum_nights' : row.minimum_nights,                    
        'number_of_reviews' : row.number_of_reviews,                   
        'reviews_per_month': row.reviews_per_month,                
        'calculated_host_listings_count' : row.calculated_host_listings_count,     
        'availability_365':row.availability_365 
})

    session.add(record)
session.commit()

In [8]:
row

airbnb_id                                                                 18548813
name                              Downtown & Lake Michigan Facing High Rise 2B,2BA
host_id                                                                   28464521
host_name                                                                Stephanie
neighbourhood                                                          Rogers Park
latitude                                                                   42.0198
longitude                                                                 -87.6742
room_type                                                          Entire home,apt
price                                                                          200
minimum_nights                                                                   1
number_of_reviews                                                                0
reviews_per_month                                                                0
calculated_host_listings_count                                                   1
availability_365                                                                54
Name: 5205, dtype: object

In [9]:

Base = declarative_base()
class Crime(Base):
    __tablename__ = 'crime_table'

    id = Column(Integer, primary_key=True, nullable=False)
    neighbourhood  = Column(String(255))
    CommunityArea = Column(String(225))
    number_of_crimes = Column(Integer)
    crime_rate =  Column(Float)


engine = create_engine("sqlite:///chicagobnb.db")
Base.metadata.create_all(engine)


session = Session(bind=engine)

In [10]:
crime_table.__table__.columns.keys()

NameError: name 'crime_table' is not defined

In [11]:
for i, row in clean_crime_df.iterrows():
    record = Crime(**{
        'neighbourhood': row.neighbourhood,
        'CommunityArea' : row.CommunityArea,
        'number_of_crimes': row.number_of_crimes,
        'crime_rate': row.crime_rate
        
         
})

    session.add(record)
session.commit()

OperationalError: (sqlite3.OperationalError) table crime_table has no column named CommunityArea [SQL: 'INSERT INTO crime_table (neighbourhood, "CommunityArea", number_of_crimes, crime_rate) VALUES (?, ?, ?, ?)'] [parameters: ('Rogers Park', 1, 14867, 1.5034727419087341)] (Background on this error at: http://sqlalche.me/e/e3q8)

In [12]:
row

neighbourhood       Edgewater
CommunityArea              77
number_of_crimes         9472
crime_rate           0.957886
Name: 76, dtype: object

In [ ]:
Base = declarative_base()

In [ ]:
engine = create_engine("sqlite:///chicagobnb.db")
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

In [ ]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.engine.reflection import Inspector

meta = MetaData()
user_table = Table('listings_table', meta)
insp = Inspector.from_engine(engine)
insp.reflecttable(user_table, None)

In [ ]:
Listings=Base.classes.listings_table
Listings

In [ ]:
Crime=Base.classes.crime_table
Crime

In [ ]:
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
columns = inspector.get_columns('listings_table')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
from sqlalchemy import inspect

mapper = inspect(Listings)
print(mapper)

In [ ]:
from sqlalchemy import inspect

mapper = inspect(Crime)
print(mapper)

In [ ]:
Session = sessionmaker(bind=engine)

session = Session()

In [ ]:
engine.execute('SELECT * FROM listings_table LIMIT 5').fetchall()

In [ ]:
engine.execute('SELECT * FROM crime_table').fetchall()

In [ ]:
for instance in session.query(Listings)[1:3]:
    print(instance.name)

In [ ]:
import struct
value = struct.unpack('<q', b'\x02\x00\x00\x00\x00\x00\x00\x00')
value

value[0]